<div class="d-flex flex-wrap justify-content-center">
    <button class="btn btn-secondary btn-op" (click)="sumar()">+</button>
    <button class="btn btn-secondary btn-op" (click)="restar()">-</button>
    <button class="btn btn-secondary btn-op" (click)="potenciar()">^</button>
    <button class="btn btn-secondary btn-op" (click)="multiplicar()">x</button>
    <button class="btn btn-secondary btn-op" (click)="dividir()">÷</button>
    <button class="btn btn-danger btn-op" (click)="limpiar()">CE</button>
</div>
